VENV/
venv/
.vscode/
slides/
data/mnist
examples/tensorboard_graph

*.pdf

*.SUNet
*.pyc


examples/checkpoints/*

examples/chatbot/processed/*
examples/chatbot/checkpoints/*
examples/chatbot/data_analysis.py

assignments/chatbot/processed/*
